.party-national {
  border-color: blue;
  background-color: blue;
}

.party-labour {
  border-color: red;
  background-color: red;
}

.party-green {
  border-color: green;
  background-color: green;
}

.party-nz-first {
  border-color: black;
  background-color: black;
}

.party-act {
  border-color: yellow;
  background-color: yellow;
}

.party-maori {
  border-color: #400;
  background-color: #400;
}

.party-united-future {
  border-color: purple;
  background-color: purple;
}
