.party-national-party {
  border-color: #095988;
  background-color: #095988;
}

.party-labour-party {
  border-color: #d82c20;
  background-color: #d82c20;
}

.party-green-party {
  border-color: #00c760;
  background-color: #00c760;
}

.party-nz-first-party {
  border-color: #999;
  background-color: #999;
}

.party-act-party {
  border-color: #ffda37;
  background-color: #ffda37;
}

.party-maori-party {
  border-color: #000;
  background-color: #C00;
  border-style: dotted;
}

.party-united-future-party {
  border-color: purple;
  background-color: purple;
}
